body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    background-image: url(assets/images/dinosaur.png);
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

/* navbar */
.navbar ul {
    list-style-type: none;
    background-color: green;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: rgb(20, 211, 147);
    text-align: center;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: large;
    font-weight: bold;
}

.navbar a:hover {
    color: black;
}

.navbar li {
    float: left;
}

/* WHAT DO WE DO  section */

.do {
    text-align: center;
    color: aliceblue;
    margin-left: 50px;
    margin-right: auto;
    width: 600px;
    position: absolute;
}

.do h3 {
    font-size: xx-large;
    margin: 10;
    padding: 0;
}

.do p {
    font-size: x-large;

}

/* WHAT DO WE USE section */

.use {
    text-align: center;
    color: aliceblue;
    margin-top: 200px;
    margin-left: 650px;
    width: 600px;
    position: absolute;
}

.use h3 {
    font-size: xx-large
}

.use p {
    font-size: x-large;
}

